@import url(http://fonts.googleapis.com/css?family=Lato:300);

body {
	margin: 0;
	font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
	font-weight: 400;
	background-color: #3f3f3f;
	/*background: linear-gradient(#FFFFB0,#198DB9,#3f3f3f);*/
	background-repeat: repeat-x;
}
a {
	text-decoration: none;
	color: #198DB9;
}
a:hover {
	text-decoration: underline;
}
header {
	background: #e6e6e6;
	width: 100%;
	margin: 0;
	box-shadow: 0 0 30px #262626;
	padding: 1em 0;
}
header h1 {
	margin: 0;
	font-size: 48px;
	line-height: 90px;
	text-align: center;
	/*display:none;*/
}
.container {
	max-width: 800px;
	margin: 0 auto;
}
.container div {
	background: #e6e6e6;
	padding: 0.5em 1em;
	margin: 2em 0;
	box-shadow: 0 0 30px #262626;
}
ul {
	padding: 0;
}
li {
	list-style: none;
}
p {
	font-size: 18px;
}